html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
font-family: 'Zen Antique', serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

[class*="col-"]{
    width: 100%;
    float: left;
    padding: 15px;
}
.row{
    width: 100%;
}

.row::after{
    content: '';
    clear: both;
    display: block;
}
header{
    background-color:#424250 ;
    padding: 0% 1%;
    text-align: center;
}
.logo{
    color: white;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
}

nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    line-height: 70px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: .9rem;
    transition: .4s;
}
nav ul li a:hover{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

.banner-section{
    background-attachment: fixed;
    background-position: center;
    background-image: url(./food1.jpg);
    block-size: cover;
    background-repeat: no-repeat;
}
.banner{
    padding: 50px 10px;
    text-align: center;
}
.banner-section h1{
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background-color:rgba(54,69,79,0.6) ;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Handlee',cursive;
}
.banner-section p{
    width: 300px;
    margin: 15px auto;
    background: rgba(59,47,47,0.4);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
}
.btn{
    width: 160px;
    padding: 10px;
    font-size:1.3rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(54,1,63,0.5);
    transition: .4s;
    text-transform: uppercase;color: white;
}
.btn:hover{
    background-color: rgba(54,1,63,1);
    transform: scale(1.3);

}

.about{
    padding: 1%;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size:2rem;
    margin-bottom: 10px;
    font-weight: bolder;

}
.about-content p{
    font-size: .8rem;
    margin-bottom: 10px;

}

#menu{
    padding: 1%;
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.desc{
    background: rgba(165,164,164);
}
.itm-name{
    
    background-color: rgba(54,1,63);
    color: white;
    padding: 10px;
}
.desc > p{
    font-size: .8rem;
    padding: 10px;
    font-weight: bold;


}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.2);
}
#contact{
    pad: 1%;
    background-color:#595b83 ;
    padding: 10px;
}
.contact-details{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.map{
    width: 100%;
    height: 250px;


}
.contact-details p, address{
    font-size: 0.8rem;


}
footer{
    padding: 1%;
    color: white;
    background-color: #060930;
}
footer p{
    line-height: 32px;
    font-size: .8rem;
    text-align: center;
}
.social{
    text-align: center;
}
.icon{
    color: white;
    font-size: 22px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
   text-align: center;

}
.icon:hover{
    background-color: gray;
    transform: scale(1.2);
}













@media screen and (min-width:576px){
    .col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 24.99%;}
.col-4{width: 33.32%;}
.col-5{width: 41.65%;}
.col-6{width: 49.98%;}
.col-7{width: 58.31%;}
.col-8{width: 66.64%;}
.col-9{width: 74.97%;}
.col-10{width: 83.3%;}
.col-11{width: 91.63%;}
.col-12{width: 100%;}
    
}
@media screen  and (min-width:772px){
    .col-m-1{width: 8.33%;}
.col-m-2{width: 16.66%;}
.col-m-3{width: 24.99%;}
.col-m-4{width: 33.32%;}
.col-m-5{width: 41.65%;}
.col-m-6{width: 49.98%;}
.col-m-7{width: 58.31%;}
.col-m-8{width: 66.64%;}
.col-m-9{width: 74.97%;}
.col-m-10{width: 83.3%;}
.col-m-11{width: 91.63%;}
.col-m-12{width: 100%;}
.topnav .icon {
    display: none;
}

.topnav a {
    display: inline-block;
} 
}
@media screen and(min-width:992px){

.logo{
    text-align: left;
}
nav ul{
    text-align: right;

}
nav ul li{
    display: inline-block;
 
}
.l{
    float: left;
}
nav ul li a {
    display: inline-block;

}
nav ul li a:hover {
    border-radius: 0;
    background-color: transparent;
    transform: scale(1.2);
    text-decoration: underline;
}
/* header ends here  */

/* banner starts here  */
#banner-section {
   position: relative;
   height: 100vh;
}
.banner-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
}
.banner-contents h1 {
    width: 700px;
    font-size: 3.5rem;      
}
.banner-contents p {
    width: 500px;
    font-size: 2rem;
}
/* banner ends here */ 

/* footer starts here  */         
footer p {
    text-align: left;
}
.social-menus{
    text-align: right;
}
    .col-l-1{width: 8.33%;}
.col-l-2{width: 16.66%;}
.col-l-3{width: 24.99%;}
.col-l-4{width: 33.32%;}
.col-l-5{width: 41.65%;}
.col-l-6{width: 49.98%;}
.col-l-7{width: 58.31%;}
.col-l-8{width: 66.64%;}
.col-l-9{width: 74.97%;}
.col-l-10{width: 83.3%;}
.col-l-11{width: 91.63%;}
.col-l-12{width: 100%;}
    
}







